@page
@model IndexModel
@{
    ViewData["Title"] = "Morgenmadsbuffeten";
}

<div class="text-center">
    <h1 class="display-4">Who doesn't love brunch? <3</h1>
     <img src="/images/oprah.gif" alt="Oprah" width="800" height="600">
     
     <img src="/images/Brunch.jpg" alt="Brunch" width="600" height="600"> 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
